<table class="table table-hover">
    <tr>
        <th><a href="" ng-click="predicate = 'cmPlacementStatusId'; reverse=!reverse">CmPlacementStatusId</a></th>
        <th><a href="" ng-click="predicate = 'cmId'; reverse=!reverse">CmId</a></th>
        <th><a href="" ng-click="predicate = 'personId'; reverse=!reverse">PersonId</a></th>
        <th><a href="" ng-click="predicate = 'corpsYear'; reverse=!reverse">Corps Year</a></th>
        <th><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></th>
        <th><a href="" ng-click="predicate = 'stage'; reverse=!reverse">Stage</a></th>
        <th><a href="" ng-click="predicate = 'step'; reverse=!reverse">Step</a></th>
        <th><a href="" ng-click="predicate = 'releaseCode'; reverse=!reverse">ReleaseCode</a></th>
        <th><a href="" ng-click="predicate = 'releaseStep'; reverse=!reverse">ReleaseStep</a></th>
    </tr>
    <tr ng-repeat="cm in cms | orderBy:predicate:reverse">
        <td>{{cm.cmPlacementStatusId}}</td>
        <td>{{cm.cmId}}</td>
        <td>{{cm.personId}}</td>
        <td>{{cm.corpsYear}}</td>
        <td>{{cm.name}}</td>
        <td>{{cm.stage}}</td>
        <td>{{cm.step}}</td>
        <td>{{cm.releaseCode}}</td>
        <td>{{cm.releaseStep}}</td>
    </tr>
</table>