<table class="table table-hover">
    <tr>
    	<th>Index</th>
        <th>Person Id</th>
        <th>Name</th>
        <th>Role</th>
        <th>Entity Type</th>
        <th>Entity Name</th>
    </tr>
    <tr ng-repeat="hiringManager in hiringManagers">
        <td>{{$index+1}}</td>
        <td>{{hiringManager.hiringManagerId}}</td>
        <td>{{hiringManager.name}}</td>
        <td>{{hiringManager.role}}</td>
        <td>{{hiringManager.entityType.label}}</td>
        <td>{{hiringManager.entityName}}</td>
    </tr>
</table>