
<!-- 
	http://gurustop.net/blog/2014/01/28/common-problems-and-solutions-when-using-select-elements-with-angular-js-ng-options-initial-selection/
	An un-documented (AFAIK) feature in ng-options is that you can use some bits from the ng-repeat directive with it, like track by. This allows us to choose some property as the comparison key.
 -->

<div class="form-element"><select ng-model="selectedRegion" ng-options="region.label for region in regionsInput track by region.value" ng-change="changeRegion(selectedRegion)"></select></div>
<div class="form-element"><select ng-model="selectedTimePeriod" ng-options="timePeriod.label for timePeriod in timePeriodsInput track by timePeriod.value" ng-change="changeTimePeriod(selectedTimePeriod)"></select></div>
<div><button class="btn btn-sm btn-primary" ng-click="searchVacancies()">Search</button></div>